html body{
	padding: 0;
	margin: 5px;
	background: url(../images/StockSnap_MRF1628S9A_mini.jpg) bottom center no-repeat;
	color:  #0099cc;
	font-size: 16pt;
	font-family: arial, serif;
}
header {
	background-image:
    linear-gradient(#0099cc, #006699);
	
}
#profile-picture {
	border-radius: 20px;
	border: 5px solid #0099cc;
	border-spacing: 10px 50px;
}
nav {
	padding: 5px;
}

nav li{
	display: inline;
	font-family: arial;
	margin-right: 5px;
	text-align: left;
	}
nav a {
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 2px;

}
nav a:hover {
	font-size: 14px;
	border-radius: 15px;

}
a:visited {
	background-color: grey;
	font-weight: bold;
}
.interest {
	color: maroon;
	background-color: white;
	font-family: times, serif;
	padding: 5px;
	font-size: 20px
}
@media screen and (min-width: 701px) {
  #bio {
  	width: 70%; 
  }
 .interest {
 	width: 40%;
 }
}
@media screen and (max-width: 700px) {
	#bio {
		width: 90%;
	}
	#profile-picture {
		width: 80%;
	}
	.interest {
		width: 80%;
	}
}
footer {
	
}
footer h3{
	text-align: center;
}